$l0: #ffffff;
$l1: #f8f8f8;
$l2: #f0f0f0;
$l3: #e8e8e8;
$l4: #e0e0e0;
$l5: #d8d8d8;
$l6: #d0d0d0;
$l7: #c8c8c8;
$l8: #c0c0c0;
$l9: #b8b8b8;
$l10: #b0b0b0;
$l11: #a8a8a8;
$l12: #a0a0a0;
$l13: #989898;
$l14: #909090;
$l15: #888888;
$l16: #808080;
$l17: #787878;
$l18: #707070;
$l19: #686868;
$l20: #606060;
$l21: #585858;
$l22: #505050;
$l23: #484848;
$l24: #404040;
$l25: #383838;
$l26: #303030;
$l27: #282828;
$l28: #202020;
$l29: #181818;
$l30: #101010;
$l31: #080808;
$l32: #000000;

$d0: #000000;
$d1: #080808;
$d2: #101010;
$d3: #181818;
$d4: #202020;
$d5: #282828;
$d6: #303030;
$d7: #383838;
$d8: #404040;
$d9: #484848;
$d10: #505050;
$d11: #585858;
$d12: #606060;
$d13: #686868;
$d14: #707070;
$d15: #787878;
$d16: #808080;
$d17: #888888;
$d18: #909090;
$d19: #989898;
$d20: #a0a0a0;
$d21: #a8a8a8;
$d22: #b0b0b0;
$d23: #b8b8b8;
$d24: #c0c0c0;
$d25: #c8c8c8;
$d26: #d0d0d0;
$d27: #d8d8d8;
$d28: #e0e0e0;
$d29: #e8e8e8;
$d30: #f0f0f0;
$d31: #f8f8f8;
$d32: #ffffff;

$lf0: $l32;
$lf1: $l27;
$lf2: $l22;
$lf3: $l17;
$lf4: $l12;
$lf5: $l7;

$lb0: $l0;
$lb1: $l1;
$lb2: $l2;
$lb3: $l3;
$lb4: $l4;
$lb5: $l5;

$df0: $d23;
$df1: $d21;
$df2: $d19;
$df3: $d17;
$df4: $d15;
$df5: $d13;

$db0: $d1;
$db1: $d3;
$db2: $d5;
$db3: $d7;
$db4: $d9;
$db5: $d11;
