html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em; // Use em instead of rem because of Chrome bug
}

body, button, h1, h2, input, textarea {
    font-weight: 300;
}

body, button, input {
    font-family: 'Source Sans Pro';
}

pre, textarea {
    font-family: 'Source Code Pro';
}
