pre {
    font-family: Monaco;
    font-size: 0.8em;
}

textarea {
    width: 100%;
    height: 20em;
}

.hidden {
    display: none;
}

.Statement {
    color: blue;
}

.String {
    color: green;
}

.LineNr {
    background-color: #ccc;
}
