body {
    font: 14px/1.5 'Avenir Next', 'Source Sans Pro';
    margin: 0;
}

h1 {
    background-color: #f8f8f8;
    color: #aaa;
    font-size: 1.5em;
    padding-left: 0.5em;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    font-weight: 300;
}

main {
    overflow: hidden;
}

pre {
    width: 800px;
    font-family: 'Source Code Pro';
    font-size: 0.8em;
    float: left;
}

aside {
    float: left;
    margin-left: 2em;
}

textarea {
    width: 800px;
    height: 20em;
    float: left;
}

.hidden {
    display: none;
}

.Statement {
    color: blue;
}

.String {
    color: green;
}

.LineNr {
    background-color: #ccc;
}
