html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 300;
}

body, input, button {
    font-family: 'Source Sans Pro';
}

body.light {
    background-color: #f8f8f8;
    color: #999;
}

body.light h1 {
    background-color: #aaa;
    color: #f8f8f8;
}

body.light h2 {
    border-bottom: 1px solid #ddd;
}

body.light textarea {
    background-color: #fff;
    color: #999;
    border: 0px solid #ddd;
}

body.light input[type="color"] {
    background-color: #f8f8f8;
}

body.dark {
    background-color: #444;
    color: #aaa;
}

body.dark h1 {
    background-color: #888;
    color: #444;
}

body.dark h2 {
    border-bottom: 1px solid #666;
}

body.dark textarea {
    background-color: #222;
    color: #aaa;
    border: 0;
}

body.dark input[type="color"] {
    background-color: #444;
}

.lightbulb {
    border: 0;
    font-size: 1.6rem;
    background-color: transparent;
    box-sizing: border-box;
    height: 4rem;
    margin: 0;
}

body.light .lightbulb {
    border: 1px solid #ccc;
    color: #999;
}

body.dark .lightbulb {
    border: 1px solid #666;
    color: #aaa;
}

.lightbulb:focus {
    outline: 0;
}

body.light .lightbulb:hover {
    background-color: #ccc;
    color: #444;
    border-color: #ccc!important;
    /* transition: all 0.1s ease; */
}

body.light .lightbulb:active {
    background-color: #ddd;
    border-color: #ddd!important;
    color: #444;
}

body.dark .lightbulb:hover {
    background-color: #666;
    color: #ccc;
    border-color: #666!important;
    /* transition: all 0.1s ease; */
}

body.dark .lightbulb:active {
    background-color: #777;
    border-color: #777!important;
    color: #fff;
}

.light-button {
    border-radius: 2rem 0 0 2rem;
    border-right: 0 !important;
    padding: 0 1.5rem 0 2rem;
}

.dark-button {
    padding: 0 2rem 0 1.5rem;
    border-radius: 0 2rem 2rem 0;
    font-weight: 300;
}

input[type="color"] {
    border: 0;
    padding: 0;
    width: 3.0rem;
    height: 3.4rem;
}

aside h2:first-child {
    margin-top: 0;
}

h2 {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}
h2:after {
    content: ' −';
}

h1 {
    font-size: 2.8rem;
    margin: 0 0 4rem 0;
    padding: 1.5rem 2rem;
    font-weight: 300;
}

main {
    overflow: hidden;
}

pre {
    width: 100rem;
    font-family: 'Source Code Pro';
    font-size: 1.6rem;
    float: left;
    font-weight: 400;
    margin: 0;
}

aside {
    width: 20rem;
    float: left;
    margin-left: 2rem;
}

textarea {
    font-size: 1.6rem;
    font-family: 'Source Code Pro';
    width: 100rem;
    height: 40rem;
    float: left;
}

body.light textarea, body.light pre {
    box-shadow: 4px 4px 4px #f0f0f0;
}
body.dark textarea, body.dark pre {
    box-shadow: 4px 4px 4px #333;
}
.hidden {
    display: none;
}
